
  <div class="card mb-1 tarjet  mb-3 position-relative h-100 " >
    <div class=" col-md-4 top-50 start-0 position-absolute translate-middle">
      <img
        src="https://www.brokable.com/sites/default/files/brokable/Ambiente/Iconos-Extremas.png">
    </div>
    <div class="row g-0 ">
      
      <div class="col-md-12">
        <div class="card-body  ">
          <a class="card-title titleCard fw-bold" [routerLink]="['/process/process-details/'+process.title]"
            [queryParams]="{id:process.id}">
            <h5 class="ms-5">{{process.title}}</h5>
          </a>
          <p class="card-text text-white ms-5">{{process.description}}</p>
        </div>
      </div>
    </div>
  </div>
