<section class="cuerpo container-fluid">

  <section class="row">
    <div class="header pt-5 col-12">
      <h2 class="text-white">{{ documentDetalis.title }}</h2>
      <div class="linea mt-4"></div>
    </div>
  </section>

  <section class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-md-5 mt-5">
        <h1 class="stronge">OBJETIVO</h1>
        <div class="linea mt-4"></div>
        <p class="mt-3">{{ documentDetalis.ufCrm30_1637611597722 }}</p>
      </div>

      <div class="col-12 col-md-5 mt-5">
        <h1 class="stronge">PROCESOS</h1>
        <div class="linea mt-4"></div>
        <div *ngFor="let process of documentDetalis.ufCrm30_1655843438">
          <li *ngIf="documentDetalis.ufCrm30_1655843438" class="mt-3">{{ process.title }}</li>
        </div>
      </div>

      <div class="col-12 col-md-5 mt-5">
        <h1 class="stronge">CARGO</h1>
        <div class="linea mt-4"></div>
        <p *ngIf="documentDetalis.ufCrm30_1638060318453" class="mt-3">{{ documentDetalis.ufCrm30_1638060318453.VALUE }}</p>
      </div>
    </div>
  </section>

  <section class="row adicionLinea mt-5">
    <div class="col-12 titleTarjet">
      <h3 class="mt-5 text-white">ACTIVIDADES</h3>
      <div class="lineaWhite mt-4"></div>
    </div>
  </section>

  <div class="row mt-5 justify-content-between">
    <h4>aca van renderizadas las tarjetas</h4>
  </div>
</section>
