
.card-image {
  display: block;
  min-height: 325px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-image:hover {
  filter: opacity(.5);
  zoom: 1.10;
}

.min-height {
  min-height: 75px;
}
