<!-- <process-card *ngFor="let process of processes" [process]="process"></process-card> -->
<body class="body">
    <section class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-10 ">
                <div class="ps-5 pt-4 pb-3 w-100 ms-5">
                    <h6 >PROCESOS</h6>
                    <h2 >PROCESOS ADMINISTRACIONES GJ</h2>
                </div>
                
                <div class="pb-3 ps-5 w-100 ms-5">
                    <P >En este espacio podrás ver todos los procesos comprendidos en Administraciones GJ, conjuntamente con los documentos y actividades que se derivan de cada uno de ellos</P>
                </div>
            </div>
            
        </div>
    </section> 
    
    <process-card></process-card>
   
</body>
