<section class="body container-fluid">
  <section class="row">
    <div class="col-12">
      <h1 class="text-center mt-3 colorTitulo">CARGOS ADMINISTRACIONES GJ</h1>
    </div>
    <div class="linea"></div>
  </section>

  <section class="container">
    <div class="row justify-content-evenly">
      <card-charge
        *ngFor="let charge of charges"
        [cardCharge]="charge"
        (event)="userClick($event)"
        class="col-12 col-md-3"
      ></card-charge>
    </div>
  </section>
</section>
