<section class="container-fluid body">
  <section class="row">
    <div class="header pt-5 col-12">
      <h2 class="text-white">ADMINISTRACIONES COPROPIEDAD</h2>
      <div class="boton mt-4"></div>
    </div>
  </section>

  <main>
    <div class="row justify-content-between mx-5">
      <div class="col-12 col-md-5 mt-5">
        <h2>OBJETIVOS</h2>
        <div class="boton mt-4"></div>
        <P class="mt-3">
          Definir en una forma clara y organizada las actividades que se deben coordinar o ejecutar en la
          Gestión Administrativa De Copropiedades, de tal forma que se pueda garantizar que el servicio
          ofrecido por la empresa, cumpla con: las expectativas de los clientes, el alcance dado por la
          empresa y los requisitos exigidos por la Ley.
        </P>
      </div>

      <div class="col-12 col-md-5 mt-5">

        <h2>CARGOS</h2>
        <div class="boton mt-4"></div>
        <P class="mt-3">
          Definir en una forma clara y organizada las actividades que se deben coordinar o ejecutar en la
          Gestión Administrativa De Copropiedades, de tal forma que se pueda garantizar que el servicio
          ofrecido por la empresa, cumpla con: las expectativas de los clientes, el alcance dado por la
          empresa y los requisitos exigidos por la Ley.
        </P>
      </div>
      <div class="col-12 col-md-5 mt-5">

        <h2>REQUISITOS</h2>
        <div class="boton mt-4"></div>
        <P class="mt-3">
          Definir en una forma clara y organizada las actividades que se deben coordinar o ejecutar en la
          Gestión Administrativa De Copropiedades, de tal forma que se pueda garantizar que el servicio
          ofrecido por la empresa, cumpla con: las expectativas de los clientes, el alcance dado por la
          empresa y los requisitos exigidos por la Ley.
        </P>
      </div>

      <div class="col-12 col-md-5 mt-5">

        <h2>INDICADORES</h2>
        <div class="boton mt-4"></div>
        <P class="mt-3">
          Definir en una forma clara y organizada las actividades que se deben coordinar o ejecutar en la
          Gestión Administrativa De Copropiedades, de tal forma que se pueda garantizar que el servicio
          ofrecido por la empresa, cumpla con: las expectativas de los clientes, el alcance dado por la
          empresa y los requisitos exigidos por la Ley.
        </P>
      </div>

      <div class="col-12 col-md-5 mt-5 ">

        <h2>RIESGOS</h2>
        <div class="boton mt-4"></div>
        <P class="mt-3">
          Definir en una forma clara y organizada las actividades que se deben coordinar o ejecutar en la
          Gestión Administrativa De Copropiedades, de tal forma que se pueda garantizar que el servicio
          ofrecido por la empresa, cumpla con: las expectativas de los clientes, el alcance dado por la
          empresa y los requisitos exigidos por la Ley.
        </P>
      </div>

    </div>

    <section class="row documentTitle mt-5">
      <div class="col-12 ">
        <h3 class="ps-5 mt-5 text-white">DOCUMENTOS INTERNOS</h3>
      </div>
    </section>

    <h2>ACA SE CARGAN LAS TARJETAS DINAMICAMENTE </h2>
    <section class="row documentTitle mt-5 ">
      <div class="col-12 ">
        <h3 class="ps-5 mt-5 text-white">OTROS DOCUMENTOS</h3>
      </div>
    </section>

    <section class="row ps-5">
      <h3 class="mt-5 stronge mb-5">CUENTA DE COBRO</h3>
      <div>
        <p>NOMOBRE:</p>
        <p>TIPO: </p>
        <p>UBICACIÓN ARCHIVO ACTIVO: </p>
        <p>TIEMPO ARCHIVO ACTIVO: </p>
        <p>UBICACIÓN ARCHIVO INACTIVO: </p>
        <p>TIEMPO ARCHIVO INACTIVO: </p>
        <p>DISPOSICIÓN FINAL: </p>
        <P>CARGO:</P>
      </div>

      <h3 class="mt-5 stronge mb-5">ORDEN DE COMPRA</h3>
      <div>
        <p>NOMBRE:</p>
        <p>TIPO: </p>
        <p>UBICACIÓN ARCHIVO ACTIVO: </p>
        <p>TIEMPO ARCHIVO ACTIVO: </p>
        <p>UBICACIÓN ARCHIVO INACTIVO: </p>
        <p>TIEMPO ARCHIVO INACTIVO: </p>
        <p>DISPOSICIÓN FINAL: </p>
        <P>CARGO:</P>
      </div>

    </section>
  </main>
</section>