.body {
  background-image: url("https://cdn.bitrix24.site/bitrix/images/landing/krayt/artificial_intelligence/0.jpg");
  background-attachment: fixed;
}

.header {
  background-color: #14112c;
  padding-left: 9%;
  height: 180px;
}

.boton {
  background-color: #6ab8eee6;
  width: 8%;
  height: 10px;
}

.documentTitle {
  background-color: #6ab8eee6;
  height: 100px;
}


a {
  text-decoration: none;
}

p {
  text-align: justify;
}
