<section class="container-fluid body">
    <section class="row">
        <div class="header pt-5 col-12">
            <h2 class="text-white">ADMINISTRACIONES COPROPIEDAD</h2>
            <div class="boton mt-4">

            </div>
        </div>
    </section>

    <main class="row justify-content-center">
        <div class="col-12 col-md-5 mt-5">

            <h2>OBJETIVOS</h2>
            <div class="boton mt-4">

            </div>
            <P class="mt-3">
                Definir en una forma clara y organizada las actividades que se deben coordinar o ejecutar en la
                Gestión Administrativa De Copropiedades, de tal forma que se pueda garantizar que el servicio
                ofrecido por la empresa, cumpla con: las expectativas de los clientes, el alcance dado por la
                empresa y los requisitos exigidos por la Ley.
            </P>


        </div>
        <div class="col-12 col-md-5 mt-5">

            <h2>OBJETIVOS</h2>
            <div class="boton mt-4">

            </div>
            <P class="mt-3">
                Definir en una forma clara y organizada las actividades que se deben coordinar o ejecutar en la
                Gestión Administrativa De Copropiedades, de tal forma que se pueda garantizar que el servicio
                ofrecido por la empresa, cumpla con: las expectativas de los clientes, el alcance dado por la
                empresa y los requisitos exigidos por la Ley.
            </P>


        </div>
        <div class="col-12 col-md-5 mt-5">

            <h2>INDICADORES</h2>
            <div class="boton mt-4">

            </div>
            <P class="mt-3">
                Definir en una forma clara y organizada las actividades que se deben coordinar o ejecutar en la
                Gestión Administrativa De Copropiedades, de tal forma que se pueda garantizar que el servicio
                ofrecido por la empresa, cumpla con: las expectativas de los clientes, el alcance dado por la
                empresa y los requisitos exigidos por la Ley.
            </P>


        </div>
        <div class="col-12 col-md-5 mt-5">

            <h2>RIESGO</h2>
            <div class="boton mt-4">

            </div>
            <P class="mt-3">
                Definir en una forma clara y organizada las actividades que se deben coordinar o ejecutar en la
                Gestión Administrativa De Copropiedades, de tal forma que se pueda garantizar que el servicio
                ofrecido por la empresa, cumpla con: las expectativas de los clientes, el alcance dado por la
                empresa y los requisitos exigidos por la Ley.
            </P>


        </div>

        <section class="row adicion mt-5">
            <div class="col-12 ">
                <h3 class="ps-5 mt-5 text-white">DOCUMENTOS</h3>
            </div>
        </section>

        <section class="row mt-5 justify-content-evenly ">
            <div class="card mb-1 pr" style="max-width: 480px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="https://i.pinimg.com/originals/ef/cf/0e/efcf0e152c41112da48b619152043030.png" class="img-fluid rounded-start">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <a href=""><h5 class="card-title titleCard fw-bold">COMPRAS Y CONTRATACION DE BIENES Y SERVICIOS</h5></a>
                      <p class="card-text">Administración y contabilidad de las copropiedades</p>
                    </div>
                  </div>
                </div>
            </div>
            
            <div class="card mb-1 pr" style="max-width: 480px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="https://i.pinimg.com/originals/ef/cf/0e/efcf0e152c41112da48b619152043030.png" class="img-fluid rounded-start">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <a href=""><h5 class="card-title titleCard fw-bold">GESTIÓN ADMINISTRATIVA</h5></a>
                      <p class="card-text">Proceso que describe la contratación de bienes y servicios</p>
                    </div>
                  </div>
                </div>
            </div>

              
           
        </section>

        <section class="row mt-5 justify-content-evenly ">
            <div class="card mb-1 pr" style="max-width: 480px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="https://i.pinimg.com/originals/ef/cf/0e/efcf0e152c41112da48b619152043030.png" class="img-fluid rounded-start">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                        <a href=""><h5 class="card-title titleCard fw-bold">ASEO DE LA COPROPIEDAD</h5></a>
                        <p class="card-text">Responsabilidad y actividades para labores de aseo.</p>
                    </div>
                  </div>
                </div>
            </div>
            
            <div class="card mb-1 pr" style="max-width: 480px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="https://i.pinimg.com/originals/ef/cf/0e/efcf0e152c41112da48b619152043030.png" class="img-fluid rounded-start">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <a href=""><h5 class="card-title titleCard fw-bold">MANTENIMIENTO DE EQUIPOS</h5></a>
                      <p class="card-text">Solicitudes de mantenimiento y gestión de equipos.</p>
                    </div>
                  </div>
                </div>
            </div>
        </section>

        <section class="row adicion">
            <div class="col-12 ">
                <h3 class="ps-5 mt-5 text-white">OTROS DOCUMENTOS</h3>
            </div>
        </section>

        <section class="row ps-5">
            <h3 class="mt-5 stronge mb-5">CUENTA DE COBRO</h3>
            <div>
                <p>TIPO:DOCUMENTO EXTERNO</p>
                <p>PROCESO: ADMINISTRACIÓN COPROPIEDADES</p>
                <p>RESPONSABLE: ADMINISTRADOR ESPECIALIZADO</p>
                <p>UBICACIÓN ARCHIVO ACTIVO: ARCHIVO GJ</p>
                <p>TIEMPO ARCHIVO ACTIVO: 12 MESES</p>
                <p>UBICACIÓN ARCHIVO: 24 MESES</p>
                <p>TIEMPO ARCHIVO INACTIVO: 24 MESES</p>
                <p>DISPOSICIÓN FINAL: DESTRUCCIÓN</p>
            </div>

            <h3 class="mt-5 stronge mb-5">ORDEN DE COMPRA</h3>
            <div>
                <p>TIPO:DOCUMENTO EXTERNO </p>
                <p>PROCESO: ADMINISTRACIÓN COPROPIEDADES</p>
                <p>RESPONSABLE: ADMINISTRADOR ESPECIALIZADO</p>
                <p>UBICACIÓN ARCHIVO ACTIVO: ARCHIVO GJ</p>
                <p>TIEMPO ARCHIVO ACTIVO: 12 MESES</p>
                <p>UBICACIÓN ARCHIVO: 24 MESES</p>
                <p>TIEMPO ARCHIVO INACTIVO: 24 MESES</p>
                <p>DISPOSICIÓN FINAL: DESTRUCCIÓN</p>
            </div>

        </section>
        
     
    
    </main>
</section>