<section class="body container-fluid min-vh-75" id="document">
  <section class="row">
    <div class="header pt-5 col-12">
      <h2 class="text-white">{{ activity.title }}</h2>
      <div class="button mt-4"></div>
    </div>
  </section>

  <section class="container">
    <div class="row">
      <div class="col-12 col-md-6 mt-5 mb-5">
        <h5 class="stronge description">DESCRIPCION DE LA ACTIVIDAD</h5>
        <div class="boton mt-4"></div>
        <p class="mt-3">{{ activity.ufCrm42_1656011791080 }}</p>
        <p><strong>SECUENCIA:</strong> {{ activity.ufCrm42_1656011801936 }}</p>
        <p><strong>PERIODICIDAD:</strong> {{ activity.ufCrm42_1656011818119 }}</p>
        <p><strong>CARGO:</strong> {{ activity.ufCrm42_1656011838994 }}</p>
        <p><strong>NOMBRE DEL DOCUMENTO:</strong> {{activity.ufCrm42_1664893390}}</p>
      </div>
    </div>
  </section>
  <div class="mt-4 row d-flex justify-content-center align-content-center my-3">
    <button [attr.role]="'button'" class="btn btn-outline-primary col-auto" [print]="['document', config]">Print</button>
  </div>
</section>
